* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #141e30, #243b55);
    font-family: 'Lato', sans-serif;
}

/* header */

header {
    height: 10vh;
    background: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-container {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container div {
    display: flex;
    align-items: center;
}

.header-container div img {
    height: 3rem;
    margin-right: 0.25rem;
}

.header-container div a {
    text-decoration: none;
    color: #09091a;
}

.header-container nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container nav a {
    text-decoration: none;
    color: #09091a;
}

.header-container nav a:hover {
    opacity: 0.75;
}

/* main */

.main {
    height: 85vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

.main h2 {
    margin-bottom: 2rem;
}

.main a button {
    padding: 1rem 2rem;
    background: whitesmoke;
    font-size: 1rem;
    color: #09091a;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
}

.main a button:hover {
    opacity: 0.75;
}

/* arrow */

.arrow {
    height: 5vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* features */

.features {
    height: 85vh;
    background: whitesmoke;
}

.features div {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.features div h1 {
    width: 40%;
}

.features div img {
    width: 40%;
}

/* partners */

.partners {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners h1 {
    color: whitesmoke;
    margin-bottom: 2rem;
}

.partners img {
    height: 20%;
}

/* footer */

footer {
    height: 20vh;
    background: lightslategray;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* our mission */

.our-mission {
    height: 90vh;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our-mission h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
}

.our-mission p {
    font-size: 1rem;
    color: whitesmoke;
}

/* get started */

.get-started-main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question h1 {
    margin-bottom: 2rem;
    color: whitesmoke;
}

.question h2 {
    margin-bottom: 1rem;
    color: whitesmoke;
}

.question input {
    margin-bottom: 1rem;
    padding: 1rem;
    background: whitesmoke;
    font-size: 1rem;
    color: #09091a;
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

.question p {
    color: whitesmoke;
}

.hide {
    display: none;
}